/* CSS declarations go here */
html,body { 
  padding:0px;
  min-height: 100%;
}
html {
    position: relative;
}
  body{
    margin: 0 0 100px; /* bottom = footer height */
  }
  header{
    width:100%;
    height: 190px;
    position: static;
    top:0px;
    background-color:#fff;
  }
  #logo{
    margin-left: auto;
	  margin-right: auto;
	  display: block;
    width:93px;
  }
  .page-navigation{
    width:100%;

  }
  .main-nav{
    height: 40px;
    width: calc(100% - 20px);
    position: absolute;
    top:130px;
    text-align: center;
    padding-left: 20px;
    background: #E85656; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,#6d1a5d, #E85656); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,#6d1a5d, #E85656); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #6d1a5d, #E85656); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #6d1a5d, #E85656); /* Standard syntax */
    box-shadow: 0px 5px #e8e8e8;
  }
  .articles{
    margin-top:60px;
  }
    
.nav-list{
    list-style-type: none;
    margin-right: 90px;
    position: relative;
    bottom:12px;

}
.nav-list  li {
  display: inline;
  margin-left: 52px;
}
.nav-list a {
  text-decoration: none; 
  color:#f1beba;
  font-family: 'Changa', sans-serif;
}
.nav-list a:hover , a:active {
  color:white;
}
.container{
  width:100%;
}
.social-media{
  list-style-type: none;
  position: relative;
  bottom: 30px;
  font-size: 19px;
}
.social-media li {
  text-decoration: none;
  display: inline;
}
.fa-facebook-official{
  color: #3a559f;
}
.fa-twitter-square{
  color:#50abf1;
}
.fa-linkedin-square{
  color:#007ab9;
}
.login-system{
  text-align: right;
  margin-right: 250px;
}
.ad-placement{
  height: 90px;
  width:728px;
  position: relative;
  top:190px;
  display: block;
   margin-left: auto;
   margin-right: auto;
   background: url('assets/ads.png');
}
footer{
  overflow:hidden;
  position: absolute;
  bottom:0px;
  width:100%;
  height: 100px;
  background: #E85656; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,#6d1a5d, #E85656); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,#6d1a5d, #E85656); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #6d1a5d, #E85656); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #6d1a5d, #E85656); /* Standard syntax */
  text-align: center;
  color: white;
  font-family: 'Changa', sans-serif;
  margin-top: 10px;
}
/*Editor styles*/
.wrapper{
  display:flex;
}
.editor , .preview{
  display: inline-block;
  float:left;
}
.preview{
  width:50%;
  padding-right: 10px;
  margin-top: 75px;
}
.editor{
  width:50%;
}
#editor{
  margin-top: 50px;
  width:95%;
}
.title{
  position: absolute;
  right: 30px;
  font-size: 1.5rem;
}
.image-url{
  font-size:1.5rem;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.create-new-article{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;;
    left: 280px;
}
