/* CSS declarations go here */
  body { 
    padding:0px;
    margin: 0px;
  }
  header{
    width:100%;
    height: 190px;
    position: absolute;
    top:0px;
    background-color:#fff;
  }
  #logo{
    margin-left: auto;
	  margin-right: auto;
	  display: block;
    width:93px;
  }
  .page-navigation{
    width:100%;

  }
  .main-nav{
    height: 40px;
    width: calc(100% - 20px);
    position: absolute;
    top:130px;
    text-align: center;
    padding-left: 20px;
    background: #E85656; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left,#6d1a5d, #E85656); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right,#6d1a5d, #E85656); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #6d1a5d, #E85656); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #6d1a5d, #E85656); /* Standard syntax */
    box-shadow: 0px 5px #e8e8e8;
  }
  .articles{
    margin-top:60px;
  }
    
.nav-list{
    list-style-type: none;
    margin-right: 90px;
    position: relative;
    bottom:12px;

}
.nav-list  li {
  display: inline;
  margin-left: 52px;
}
.nav-list a {
  text-decoration: none; 
  color:#f1beba;
  font-family: 'Changa', sans-serif;
}
.nav-list a:hover , a:active {
  color:white;
}
.social-media{
  list-style-type: none;
  position: relative;
  bottom: 30px;
  font-size: 19px;
}
.social-media li {
  text-decoration: none;
  display: inline;
}
.fa-facebook-official{
  color: #3a559f;
}
.fa-twitter-square{
  color:#50abf1;
}
.fa-linkedin-square{
  color:#007ab9;
}
.login-system{
  text-align: right;
  margin-right: 250px;
}
.ad-placement{
  height: 90px;
  width:728px;
  background-color: #e85656;
  position: relative;
  top:190px;
  display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}
footer{
  position: absolute;
  bottom:0px;
  width:100%;
  height: 100px;
  background: #E85656; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,#6d1a5d, #E85656); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right,#6d1a5d, #E85656); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #6d1a5d, #E85656); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #6d1a5d, #E85656); /* Standard syntax */
  text-align: center;
  color: white;
  font-family: 'Changa', sans-serif;
}
.copyrights{
  position: absolute;
  left: 20px; 
  bottom:10px;
  margin-left: auto; 
  margin-right: auto; 
  width: 400px;
}
